<% @users.each do |user| %>
  <div class="user-container">
    <div class="user-content">
    <img src="<%= user.photo %>" alt="User photo">
    <h2><%= link_to user.name, user_path(user) %></h2>
    <div class="number-posts">
    <p>Number of posts: <%= user.posts.count %></p>
    </div>
    </div>
  </div>
<% end %>
