<h2 class="form-title">Create a New Post</h2>

<%= form_with(model: [@user, @post], local: true, html: { class: 'create-post-form' }) do |form| %>
  <div class="field">
    <%= form.text_field :title, placeholder: "Title" %>
  </div>

  <div class="field">
    <%= form.text_area :text, placeholder: "Text", rows: 5 %>
  </div>

  <div class="actions">
    <%= form.submit "Create Post", class: 'submit-btn' %>
  </div>
<% end %>
